# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.env
.env.*
!.env.example
.venv/
venv/
env/
ENV/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Jupyter Notebooks
.ipynb_checkpoints/

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
